{% extends "../base/base.html" %} {% block title %}Login{% endblock %}
<!-- Block liner -->
{%block content %}


<!-- Ngoding disini -->
    <div class="container-fluid">
        <div class="d-flex justify-content-end mt-3 align-items-center">
            <a href="" class="py-2 px-3 me-4" style="background-color: rgb(33, 0, 99);color:white;text-decoration: none;">Login</a>
            <i class='fa fa-arrow-right' style='font-size:48px;color:rgb(33, 0, 99)'></i>
        </div>
        <div class="row" style="margin-top: 150px; ">
            <div class="col"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header" style="background-color: rgb(33, 0, 99); color:white">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-8">
                                    <div class="row mb-3">
                                        <label for="email" class="col-sm-4 col-form-label text-end">E-Mail Address</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="password" class="col-sm-4 col-form-label text-end">Password</label>
										<div class="col-sm-8">
											<input id="password" type="password" class="form-control" name="password" required>
										</div>
								</p>
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="checkbox" id="customCheck1">
                                    <label class="form-check-label" for="customCheck1">									
                                    Remember Me</label>
                                </div>
									
                                    </div>
                                    <div class="d-flex justify-content-center mb-4">
                                        <button type="submit" class="btn btn-info px-4"  data-bs-toggle="modal" data-bs-target="#confirmation">
                                            Log In	
                                        </button>
                                    </div>

									<div class="card-footer py-3 border-0">
										<div class="text-center">
											Don't have an account ? <a href="index.html" class="text-dark">Register</a>
										</div>
									</div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

<!-- Batas bawah ngoding -->
{% endblock %}
