<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
        .ungu-bro-bg {
        background-color: #422b73 !important;
        }
        .ungu-bro-color {
        color: #422b73 !important;
        }
        .ungu-bro-border {
        border-color: #422b73 !important;
        }

    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body class="container py-3">
    <div>
      <div class="my-4 d-flex flex-row justify-content-end align-items-center">
        <span class="material-symbols-outlined me-1"> search </span>
        <a
          href=""
          class="d-flex flex-row justify-content-end align-items-center me-2"
        >
          <span
            class="d-flex justify-content-end align-items-center me-2 ungu-bro-color ungu-bro-border"
            >Search</span
          >
        </a>
        <a href=""
          ><span
            style="font-size: 50px"
            class="material-symbols-outlined ungu-bro-color"
          >
            account_circle
          </span></a>
      </div>
      <h4 style="color: #071c4d">Start Exploring</h4>
      <div>
        Discover the most reliable. relevant, up-to-date research. All in one
        place.
      </div>
      <div
        class="d-flex col-2 border-bottom border-black border-4 text-center py-2"
      >
        <span class="material-symbols-outlined ungu-bro-color">
          find_in_page
        </span>
        <div class="">Documents</div>
      </div>
      <div class="border-bottom border-black border-2"></div>
    </div>
    <div class="py-5">
      <div class="form-floating mb-3 col-sm-4 offset-sm-0">
        <input
          type="text"
          class="form-control rounded-0"
          id="floatingInput"
          placeholder="Insert Title Here"
        />
        <label for="floatingInput">Title</label>
      </div>
      <div class="d-flex flex-row align-items-end justify-content-between">
        <div class="form-floating col-sm-10">
          <textarea
            class="form-control rounded-0"
            placeholder="Insert Abstract Here"
            id="floatingTextarea2"
            style="height: 200px"
          ></textarea>
          <label for="floatingTextarea2">Abstract</label>
        </div>
        <div class="d-flex flex-row">
          <button style="height: 40px" class="btn h-fit-content">Reset</button>
          <button
            style="height: 40px"
            class="btn btn-primary ungu-bro-bg border-0 rounded-0 d-flex"
          >
            <span class="me-2">Search</span
            ><span class="material-symbols-outlined me-1"> search </span>
          </button>
        </div>
      </div>
    </div>
    <div class="border-bottom border-black border-2"></div>
    <div class="py-5">
      <div class="d-flex col-2 border-bottom border-black border-4 text-center">
        <div class="py-2">Search History</div>
      </div>
      <div class="">
        <div
          class="d-flex flex-row justify-content-between align-items-center py-4"
        >
          <div class="d-flex flex-row">
            <div class="me-4">1</div>
            <div class="me-3">
              <div class="d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined ungu-bro-color me-2">
                  edit
                </span>
                <span class="text-body-secondary">TITLE</span>
                <span>(covid-19)</span>
              </div>
            </div>
          </div>
          <div class="ungu-bro-color fw-semibold">2,631 results</div>
        </div>
        <div class="border-bottom border-light-subtle border-2"></div>
      </div>
      <div class="pt-5 text-body-secondary d-flex align-items-center">
        <span class="material-symbols-outlined"> history </span>
        <span
          >Your history is available during this visit. but will be deleted
          after you leave Nama web. Click 'More to 'Save' important
          searches.</span
        >
      </div>
    </div>
    <div class="border-bottom border-black border-2"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
